.header-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 5.75rem;
}

.logo-img {
    height: 4.15rem;
    width: auto;
    margin-left: .75rem;
    margin-bottom: .75rem;
}