.footer-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 8rem;
    background:  rgb(174, 161, 185);
    padding: 2.75rem 1rem 0rem 1rem;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
}

.footer-container h4 {
    color: #000;
    font-family: Quicksand;
    font-size: 1rem;
    font-weight: 400;
    margin-top: .5rem;
}

.social-icons img {
    margin: 0rem .5rem;
    width: 2rem;
    height: 2rem;
}