.App {
  text-align: center;
  overflow: hidden;
  animation: reveal linear 1s;
  max-width: 600px;
}


#layout-container {
  background-color: #484553;
  height: 100%;
}

@keyframes reveal {
  from { opacity: .5; }
  to { opacity: 1; }
}